<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <authorization>
                <clear />
                <add accessType="Allow" roles="cs-173-stf" />
                <add accessType="Allow" roles="cs-173-stu-fa2024" />
            </authorization>
        </security>
    </system.webServer>
</configuration>
