body {
	font-family: Open Sans, Myriad Pro, Calibri, Droid Sans, Trebuchet MS, Sans-serif;
	margin: 0.25in 0.5in 0.5in 0.5in;
	font-weight: 200;
}

h1 {
	margin-top: 0.25in;
	margin-bottom: 0.25in;
	text-align: center;
	font-style: bold;
	color: #800;
	text-shadow: 3px 3px 5px #ccc
}

h2 {
	margin-top: 0.25in;
	text-align: center;
	font-style: normal;
	font-size:125%
	text-shadow: 2px 2px 3px #ccc
}

h3 {
	margin-top: 0.25in;
	text-align: center;
	text-shadow: 2px 2px 3px #ccc
}

h3:before {
	padding-right: 5px;
	content: '\2756';
	font-size:75%
}

h3:after {
	padding-left: 5px;
	content: '\2756';
	font-size:75%
}

h4 {
	margin: 2ex 0ex;
	text-shadow: 1px 1px 2px #ccc
}

ul {
	margin: 2ex 5ex 2ex 0ex;
}

ul.compact {
	margin: 1ex 0ex;
}

ul.tight {
	margin: 0ex -1ex;
}

ul li {
	margin: 1ex 0ex;
    text-align: justify;
}

ul li.lookitme {
	margin: 1ex 0ex;
	background-color: #ffd;
    text-align: justify;
}

ul.compact li {
	margin: 0ex 0ex;
    text-align: justify;
}

ul.tight li {
	margin: 0ex 0ex;
    text-align: justify;
}

ul.compact li.lookitme {
	margin: 0ex 0ex;
	background-color: #ffd;
    text-align: justify;
}

ol {
	margin: 2ex 5ex 2ex 0ex;
}

ol.compact {
	margin: 1ex 0ex;
}

ol.tight {
	margin: 0ex -1ex;
}

ol li {
	margin: 1ex 0ex;
    text-align: justify;
}

ol li.lookitme {
	margin: 1ex 0ex;
	background-color: #ffd;
    text-align: justify;
}

ol.compact li {
	margin: 0ex 0ex;
    text-align: justify;
}

ol.tight li {
	margin: 0ex 0ex;
    text-align: justify;
}

ol.compact li.lookitme {
	margin: 0ex 0ex;
	background-color: #ffd;
    text-align: justify;
}


dt {
	float: left;
	width: 7.5em;
	padding: 1ex 0.5em 0 0.5em;
	text-align: right;
	font-weight: bold;
}

dt.today {
	background-color: #fdd;
}


dd {
	margin: 0 0 0 8.5em;
	padding: 1ex 0.5em;
	border-left: 1px solid #888;
    text-align: justify;
}

dd.today {
	background-color: #fdd;
}


dl.wide dt {
	float: left;
	width: 11em;
	padding: 0 0 0 0.5em;
	text-align: right;
	font-weight: bold;
}

dl.wide dd {
	margin: 0 0 0 11em;
	padding: 0 0.5em;
	border-left: 1px solid #888;
    text-align: justify;
}

dd.section {
	text-align: center;
	font-weight: bold;
	background-color: #eee;
	border-left: 0;
}

p {
	text-align: justify;
	font-size: 100%;
}

b {
	color: #400;
	font-weight: 600;
}

b.dammit {
	color: #800;
	background-color: #ffd;
	font-weight: 800;
}

a:link {
	color: #008;
	text-decoration: none;
	border-bottom: 1px dotted #88a;
}

a:visited {
	color: #404;
	text-decoration: none;
	border-bottom: 1px dotted #b8b;
}

a:hover { 
	color: #000;
	background-color: #eef;
	border-bottom: 1px dotted #000;
	text-decoration: none;
}
	
a:active { 
	color: #800;
}

p.topic {
	font-size:111%;
}

span.about {
	font-style: italic;
	font-size:80%;
	line-height:1.6;
}

span.init {
	font-style:italic;
	font-weight:bold
}

span.here {
	background-color:#ffd;
}

div.floater {
	background-color: white;
	width: 1.5in;
	margin: 1ex 2ex;
	padding: 1ex;
	clear: right;
	float: right;
	font-size: 75%;
	font-style: italic;
	text-align: center;
	border: 1px solid #eee;
	box-shadow: 2px 2px 6px #444;
	-moz-box-shadow: 2px 2px 6px #444;
	-webkit-box-shadow: 2px 2px 6px #444;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

div.floatertwo {
	width: 1.5in;
	margin: 10ex 0ex 2ex 2ex;
	padding: 2ex;
	float: right;
	font-size: 75%;
	font-style: italic;
	text-align: center;
	border: 1px solid #888
}

div.floaterthree {
	background-color: white;
	margin: 0ex 0ex 4ex 4ex;
	padding: 1ex;
	clear: right;
	float: right;
	font-size: 75%;
	font-style: italic;
	text-align: center;
	border: 1px solid #eee;
	box-shadow: 2px 2px 6px #444;
	-moz-box-shadow: 2px 2px 6px #444;
	-webkit-box-shadow: 2px 2px 6px #444;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

